## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for more advanced students who want more practice.**

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to a daily level. Currently, there are 3 measurements per hour in the data.

This problem is more challenging as we provide only minimal instructions for completing the given tasks.

### What to do

- Create a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately using the hourly values from Rovaniemi and Helsinki Kumpula

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. If you think you can handle this but don't know how to proceed, ask for tips in Slack!

In [8]:
''' 3 stündliche Temperaturmessungen für jeden Tag in eine Tagestemperatur verrechnen.
Einen neuen DataFrame erstellen der die mean, max und min für jeden Tag berrechnen und auflisten '''

import pandas as pd


kumpula = pd.read_csv('data/Kumpula_temps_May_Aug_2017.csv', sep=',')
rovaniemi = pd.read_csv('data/Rovaniemi_temps_May_Aug_2017.csv', sep=',')

In [10]:
print(kumpula.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
0        8770  29980  201705010000   2.0  NaN  NaN        2
1        8771  29980  201705010100   2.0  NaN  NaN        2
2        8772  29980  201705010200   2.0  NaN  NaN        2
3        8773  29980  201705010300   2.0  NaN  NaN        2
4        8774  29980  201705010400   2.0  NaN  NaN        3

In [13]:
# DataFrames für den Monat Juni für beide

kumpula_june = kumpula.loc[(kumpula['YR--MODAHRMN'] > 201705312399) & (kumpula['YR--MODAHRMN'] <= 201706302300)]
rovaniemi_june = rovaniemi.loc[(rovaniemi['YR--MODAHRMN'] > 201705312399) & (rovaniemi['YR--MODAHRMN'] <= 201706302300)]

In [15]:
print(kumpula_june.head())

     Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
741        9511  29980  201706010000   2.0  NaN  NaN        5
742        9512  29980  201706010100   2.0  NaN  NaN        4
743        9513  29980  201706010200   2.0  NaN  NaN        4
744        9514  29980  201706010300   2.0  NaN  NaN        5
745        9515  29980  201706010400   2.0  NaN  NaN        6

In [17]:
print(kumpula_june)

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
741         9511  29980  201706010000   2.0  NaN  NaN        5
742         9512  29980  201706010100   2.0  NaN  NaN        4
743         9513  29980  201706010200   2.0  NaN  NaN        4
744         9514  29980  201706010300   2.0  NaN  NaN        5
745         9515  29980  201706010400   2.0  NaN  NaN        6
...          ...    ...           ...   ...  ...  ...      ...
1450       10220  29980  201706301900   2.0  NaN  NaN       18
1451       10221  29980  201706302000   2.0  NaN  NaN       16
1452       10222  29980  201706302100   2.0  NaN  NaN       17
1453       10223  29980  201706302200   2.0  NaN  NaN       16
1454       10224  29980  201706302300   2.0  NaN  NaN       16

[714 rows x 7 columns]

In [35]:
type(kumpula_june.iloc[0,6])

numpy.int64

In [43]:
total0601 = 0

for i in range(23):
    total0601 += kumpula_june.iloc[i,6]
    print(int(kumpula_june.iloc[i:6]))
    
total0601 / 24

print(total0601)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'DataFrame'