## Problem 3 - Data analysis (*4 points*)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic Pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (*0 points*)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [5]:
import pandas as pd

kumpula = pd.read_csv('data/Kumpula_temps_May_Aug_2017.csv', sep=',')
rovaniemi = pd.read_csv('data/Rovaniemi_temps_May_Aug_2017.csv', sep=',')

print(kumpula.head())

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
0        8770  29980  201705010000   2.0  NaN  NaN        2
1        8771  29980  201705010100   2.0  NaN  NaN        2
2        8772  29980  201705010200   2.0  NaN  NaN        2
3        8773  29980  201705010300   2.0  NaN  NaN        2
4        8774  29980  201705010400   2.0  NaN  NaN        3

### Part 2 (*1 point*)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [7]:
kumpula_median = kumpula['CELSIUS'].mean().round(2)
rovaniemi_median = rovaniemi['CELSIUS'].mean().round(2)

In [9]:
# Prints the median temperatures
print("Kumpula median: ", kumpula_median)
print("Rovaniemi median: ", rovaniemi_median)

Kumpula median:  13.48
Rovaniemi median:  9.98

### Part 3 (*2 points*)

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`

In [49]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
kumpula_may = kumpula.loc[kumpula['YR--MODAHRMN'] < 201706010000]
rovaniemi_may = rovaniemi.loc[rovaniemi['YR--MODAHRMN'] < 201706010000]

kumpula_june = kumpula.loc[(kumpula['YR--MODAHRMN'] > 201705312399) & (kumpula['YR--MODAHRMN'] <= 201706302300)]
rovaniemi_june = rovaniemi.loc[(rovaniemi['YR--MODAHRMN'] > 201705312399) & (rovaniemi['YR--MODAHRMN'] <= 201706302300)]

print(kumpula_june['YR--MODAHRMN'])

741     201706010000
742     201706010100
743     201706010200
744     201706010300
745     201706010400
            ...
1450    201706301900
1451    201706302000
1452    201706302100
1453    201706302200
1454    201706302300
Name: YR--MODAHRMN, Length: 714, dtype: int64

In [35]:
# Prints some of the selected temperature data
print("Kumpula temperatures in May\n", kumpula_may.head())
print("Rovaniemi temperatures in June\n: ", rovaniemi_june.head())

Kumpula temperatures in May
    Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
0        8770  29980  201705010000   2.0  NaN  NaN        2
1        8771  29980  201705010100   2.0  NaN  NaN        2
2        8772  29980  201705010200   2.0  NaN  NaN        2
3        8773  29980  201705010300   2.0  NaN  NaN        2
4        8774  29980  201705010400   2.0  NaN  NaN        3
Rovaniemi temperatures in June
:        Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
2220        2222  28450  201706010000   2.0  NaN  NaN        0
2221        2223  28450  201706010020   2.0  NaN  NaN       -1
2222        2224  28450  201706010050   2.0  NaN  NaN       -1
2223        2225  28450  201706010100   2.0  NaN  NaN        0
2224        2226  28450  201706010120   2.0  NaN  NaN       -1

In [43]:
# Check that the shape of kumpula_june is correct
print(kumpula_june.shape)

(714, 7)

In [51]:
# Check that the shape of rovaniemi_may is correct
print(rovaniemi_may.shape)

(2220, 7)

In [47]:
# Check that the shape of rovaniemi_june is correct
print(rovaniemi_june.shape)

(2125, 7)

### Part 4 (*1 point*)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [65]:
print("Mean temperature in may", kumpula_may['CELSIUS'].mean())
print("Max temperature in may", kumpula_may['CELSIUS'].max())
print("Min temperature in may", kumpula_may['CELSIUS'].min())
#print("Mean temperature in may", kumpula_may['CELSIUS'].describe())

print("Mean temperature in Rovaniemi june", rovaniemi_june.mean())

Mean temperature in may 9.310391363022942
Max temperature in may 22
Min temperature in may -2
Mean temperature in Rovaniemi june Unnamed: 0      3.284000e+03
USAF            2.845000e+04
YR--MODAHRMN    2.017062e+11
TEMP            2.000000e+00
MAX             2.000000e+00
MIN             2.000000e+00
CELSIUS         1.060894e+01
dtype: float64

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  CELSIUS
0        8770  29980  201705010000   2.0  NaN  NaN        2
1        8771  29980  201705010100   2.0  NaN  NaN        2
2        8772  29980  201705010200   2.0  NaN  NaN        2
3        8773  29980  201705010300   2.0  NaN  NaN        2
4        8774  29980  201705010400   2.0  NaN  NaN        3

### Problem 3 summary

In the [Exercise 5 summary notebook](Exercise-5-summary.ipynb) you can find a few additional points to consider and two final questions for Problem 3. Please answer those question in [that notebook](Exercise-5-summary.ipynb).

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)